.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5em;
  padding: 0.3em;
  background-color: aqua;
  font-size: 0.65em;
}

.navbar-header {
  flex-basis: 20%;
}

.navbar-summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 20%;
}

.navbar-summary * {
  margin: 0 0.3em;
}

.navbar-button {
  height: fit-content;
  font-size: 0.7em;
}

.site-logo {
  width: 1.7em;
  height: 1.7em;
}